<h1>PERGUNTA PRO TÉCNICO IMBECIL</h1>

<p>Faça qualquer pergunta para o técnico imbecil</p>

<form action="/answer">
    <input type="text" name="question" placeholder="Digite aqui sua pergunta">
    <input type="submit" value="ask">
</form>